<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasiresepmakanan">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoapk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".About"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Admin" />
        <activity android:name=".MakananTradisional.MainUpdel"
            android:parentActivityName=".MakananTradisional.MainRead"></activity>
        <activity android:name=".MakananTradisional.MainRead"
            android:parentActivityName=".MakananTradisional.MainMakananTradisional"></activity>
        <activity android:name=".MakananTradisional.MainCreate"
            android:parentActivityName=".MakananTradisional.MainMakananTradisional"></activity>
        <activity android:name=".MakananTradisional.MainMakananTradisional"
            android:parentActivityName=".Admin"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MasakanKue.MainRead"
            android:parentActivityName=".MasakanKue.MainMakananKue"></activity>
        <activity android:name=".MasakanKue.MainCreate"
            android:parentActivityName=".MasakanKue.MainMakananKue"></activity>
        <activity android:name=".MasakanKue.MainMakananKue"
            android:parentActivityName=".Admin"></activity>
        <activity android:name=".MasakanKue.MainUpdel"
            android:parentActivityName=".MasakanKue.MainMakananKue"></activity>
        <activity android:name=".MakananPadang.MainMakananPadang"
            android:parentActivityName=".Admin"></activity>
        <activity android:name=".MakananPadang.MainCreate"
            android:parentActivityName=".MakananPadang.MainMakananPadang"></activity>
        <activity android:name=".MakananPadang.MainUpdel"
            android:parentActivityName=".MakananPadang.MainRead"></activity>
        <activity android:name=".MakananPadang.MainRead"
            android:parentActivityName=".MakananPadang.MainMakananPadang"></activity>
        <activity android:name=".MakananSeafood.MainMakananSeafood"
            android:parentActivityName=".Admin"></activity>
        <activity android:name=".MakananSeafood.MainCreate"
            android:parentActivityName=".MakananSeafood.MainMakananSeafood"></activity>
        <activity android:name=".MakananSeafood.MainUpdel"
            android:parentActivityName=".MakananSeafood.MainMakananSeafood"></activity>
        <activity android:name=".MakananSeafood.MainRead"
            android:parentActivityName=".MakananSeafood.MainMakananSeafood"></activity>
        <activity android:name=".MasakanKue.Detail_Kue"
            android:parentActivityName=".MasakanKue.MainReadKueUser"></activity>
        <activity android:name=".MasakanKue.MainReadKueUser"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MakananTradisional.MainReadTradisionalUser"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".MakananTradisional.Detail_Tradisional"
            android:parentActivityName=".MakananTradisional.MainReadTradisionalUser"></activity>
        <activity android:name=".MakananSeafood.MainReadSeafoodUser"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MakananSeafood.Detail_Seafood"
            android:parentActivityName=".MakananSeafood.MainReadSeafoodUser"></activity>
        <activity android:name=".MakananPadang.MainReadPadangUser"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MakananPadang.Detail_Padang"
            android:parentActivityName=".MakananPadang.MainReadPadangUser"></activity>
    </application>

</manifest>